.medicover-product-widget {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  border: 1px solid black;

  &__picture {
    flex-grow: 1;
    text-align: center;
  }
  
  &__image {
    max-width: 150px;
  }

  &__title {
    margin-top: 0;
  }

  &__main {
    flex-grow: 100;
    max-width: 600px;
  }

  &__cta {
    flex-grow: 50;
    align-self: flex-end;
    text-align: right;
  }
}
